# List
 * iteration operation with loop
 * apply any operation on element

In [1]:
names:list[str] = ["Nasir", "Sir Zia", "Qasim"]
print(names)

['Nasir', 'Sir Zia', 'Qasim']

In [2]:
names:list[str] = ["Nasir", "Sir Zia", "Qasim"]
for i in names:
    print(i)

Nasir
Sir Zia
Qasim

In [3]:
names:list[str] = ["Nasir", "Sir Zia", "Qasim"]
for name in names:
    print(name)

Nasir
Sir Zia
Qasim

In [5]:
names:list[str] = ["sir Qasim", "Sir Zia", "Dr noman"]
for name in names:
    print(f'Wellcome Dear Teacher {name.title()}')

Wellcome Dear Teacher Sir Qasim
Wellcome Dear Teacher Sir Zia
Wellcome Dear Teacher Dr Noman

In [9]:
names:list[str] = ["sir Qasim", "Sir Zia", "Dr noman"]
for name in names:
    print(f'Wellcome Dear Teacher {name.title()}')
    print("PIAIC GEN AI TEAM\n")

Wellcome Dear Teacher Sir Qasim
PIAIC GEN AI TEAM

Wellcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

Wellcome Dear Teacher Dr Noman
PIAIC GEN AI TEAM

In [10]:
names:list[str] = ["sir Qasim", "Sir Zia", "Dr noman"]
for name in names:
    print(f'Wellcome Dear Teacher {name.title()}')
    print("PIAIC GEN AI TEAM\n")
    
print("pakistan zindabad")

Wellcome Dear Teacher Sir Qasim
PIAIC GEN AI TEAM

Wellcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

Wellcome Dear Teacher Dr Noman
PIAIC GEN AI TEAM

pakistan zindabad

In [13]:
names:list[str] = ["sir Qasim", "Sir Zia", "Dr noman"]
for name in names[0:2]:
    print(f'Wellcome Dear Teacher {name.title()}')
    print("PIAIC GEN AI TEAM\n")

Wellcome Dear Teacher Sir Qasim
PIAIC GEN AI TEAM

Wellcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

In [14]:
names:list[str] = ["sir Qasim", "Sir Zia", "Dr noman"]
for name in names[::-1]:
    print(f'Wellcome Dear Teacher {name.title()}')
    print("PIAIC GEN AI TEAM\n")

Wellcome Dear Teacher Dr Noman
PIAIC GEN AI TEAM

Wellcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

Wellcome Dear Teacher Sir Qasim
PIAIC GEN AI TEAM

In [31]:
my_food= ["pizza","falafel","carrot cake"]
friend_food= my_food[:] # deep copy
print(my_food)
print(friend_food)
friend_food[0]= "Tikka"
print(my_food)
print(friend_food)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

In [15]:
data_base:list[tuple[str,str]]= [("qasim","123"),
                                 ("nasir","345"),
                                 ("ikhlas","567"),
                                 ("nadeem","897")]
for i in data_base:
    print(i)

('qasim', '123')
('nasir', '345')
('ikhlas', '567')
('nadeem', '897')

In [ ]:
data_base:list[tuple[str,str]]= [("qasim","123"),
                                 ("nasir","345"),
                                 ("ikhlas","567"),
                                 ("nadeem","899")]
for user in data_base:
    name,possward= user # unzip or destructure
    print(name,possward)

qasim 123
nasir 345
ikhlas 567
nadeem 897

In [1]:
user_input:str = input("Enter Your Name:") #get user input
print(user_input)

nasir

In [17]:
data_base:list[tuple[str,str]]= [("qasim","123"),
                                 ("nasir","345"),
                                 ("ikhlas","567"),
                                 ("nadeem","899")]
input_name:str = input("Enter Your Name:")
input_password:str = input("Enter Your password:")
for user in data_base:
    name,possward= user # unzip or destructure
    if input_name== name and input_password==possward:
        print("Valid user")
        break    
else:
    print("not found")

not found

In [2]:
data_base:list[tuple[str,str]]= [("qasim","123"),
                                 ("nasir","345"),
                                 ("ikhlas","567"),
                                 ("nadeem","899")]
input_name:str = input("Enter Your Name:")
input_password:str = input("Enter Your password:")
for user in data_base:
    name,possward= user # unzip or destructure
    if input_name== name and input_password==possward:
        print(f"{input_name} is Valid user")
        break    
else:
    print(f"{input_name} is invalid user")

nasir is Valid user

In [17]:
names:list[str]= ["nasir","asdad","aneela"]
for name in names:
    print(name)

nasir
asdad
aneela

In [18]:
names:list[str]= ["nasir","asdad","aneela"]
for index, name in enumerate(names):
    print(index,name)

0 nasir
1 asdad
2 aneela

# Number with loop
 * `reange(start, end,step)`

In [3]:
range(10)

range(0, 10)

In [7]:
list(range(10)) # start= 0 end- n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(2,10,2))

[2, 4, 6, 8]

In [9]:
for n in range(1,10):
    print(n)

1
2
3
4
5
6
7
8
9

In [12]:
for n in range(1,20,2):
    print(n)

1
3
5
7
9
11
13
15
17
19

In [16]:
table = 5

for n in range(1,11):
    print(f"{table} x {n} = {table*n}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
squares :list[int] = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
number:list[int] = [0,1,2,3,4,5,6,7,8,9]
print(number)
print(max(number))
print(min(number))
print(sum(number))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
0
45

# List Comprehensive
```

for item in items_lis:

loop_body

```

### comprehensive Style
```
[loop_body for item in items_lis]

```

In [26]:
for i in range(1,7):
    print(i**2)

1
4
9
16
25
36

In [28]:
[i**2 for i in range(1,7)] # list comprehensive

[1, 4, 9, 16, 25, 36]

# Tupples
 * immutable ( can not change)
 * can not update

In [33]:
names:tuple[str] = ("A", "B", "C")
print(names[0])
print(names[0:2])

A
('A', 'B')

In [35]:
names:tuple[str] = ("A", "B", "C")
names[0]="pakistan" # can not be update
print(names[0])
print(names[0:2])

TypeError: 'tuple' object does not support item assignment

In [36]:
names:tuple[str] = ("A", "B", "C")
names:tuple[str] = ("pakistan", "B", "C") # it is reassign not update
print(names)

('pakistan', 'B', 'C')

In [37]:
from typing import Any
data:tuple[Any] = ("A", [1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [39]:
data:tuple[Any] = ("A", [1,2,3], True)
print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)